body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    padding: 2%;
}

h1 {
    font-size: 80px;
    color: #333;
}

.pledge {
    margin: 20px auto;
    padding: 20px;
    font-size: 45px;
    line-height: 1.8;
    color: #555;
    max-width: 1000px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pledge span {
    display: inline-block;
    transition: background-color 0.3s ease;
    padding: 3% 5px;
    margin: 0 1px;
}

.pledge span.highlight {
    background-color: yellow;
    color: #000;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
