body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
}

h1 {
    color: #033dfa;
}

.rhyme {
    display: inline-block;
    margin: 20px;
    cursor: pointer;
    text-align: center;
}

.rhyme img {
    width: 500px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.rhyme img:hover {
    transform: scale(1.1);
}

.rhyme p {
    margin-top: 20px;
    font-size: 50px;
    color: #000000;
}
.back-btn {
    background: white;
    color: #f44336;
}
.back-btn:hover {
    background: #d32f2f;
    color: white;
}
.home-btn {
    background: white;
    color: #28a745;
}
.home-btn:hover {
    background: #218838;
    color: white;
}
.header {
    background-color: #007bff; /* Blue background */
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid white;
    margin-left: 20px;
}

/* Navigation Buttons */
.nav-buttons {
    display: flex;
    gap: 10px;
    margin-right: 20px;
}
.btn {
    background: white;
    color: #007bff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}