*{
   margin:0%;
   padding: 0%;

}
header {
    text-align: center;
    background-color: #4caf50;
    color: white;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 2.6em;
}

header p {
    margin: 5px 0 0;
    font-size: 1.3em;
}

div{
    text-align:center;
}