body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1, h2 {
    color: #f30404;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #0b0b0b;
}

input {
    padding: 10px;
    font-size: 1em;
    margin-bottom: 20px;
    width: 80%;
}

button {
    padding: 10px 20px;
    font-size: 1.5em;
    color: rgb(6, 6, 6);
    background-color: #0492ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #05d4f8;
}

.hidden {
    display: none;
}

#quiz-container div {
    margin-bottom: 15px;
}

#result-container {
    font-size: 1.3em;
    color: #007bff;
    margin-top: 20px;
}

.back-btn {
    background: white;
    color: #f44336;
}
.back-btn:hover {
    background: #d32f2f;
    color: white;
}
.home-btn {
    background: white;
    color: #28a745;
}
.home-btn:hover {
    background: #218838;
    color: white;
}
.header {
    background-color: #007bff; /* Blue background */
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid white;
    margin-left: 20px;
}

/* Navigation Buttons */
.nav-buttons {
    display: flex;
    gap: 10px;
    margin-right: 20px;
}
.btn {
    background: white;
    color: #007bff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}